/* CSS custom properties  */
:root {
  --orange: rgba(255, 166, 0, 0.792);
  --backgr: rgba(0, 0, 0, 0.821);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

ul {
  margin: 0;
}

li {
   list-style: none;   
}

p {
  font-family: 'Jura', sans-serif;
}

body {
  background-color: var(--backgr);
  color: var(--orange)
}

/* navigation styles */
.custom-navbar {
  position: fixed;
  width: 100vw;
  background: url("../images/transparency.png") !important ;
  /* background-color: transparent  ; */
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}

.navbar-brand {
  padding-right: 15px;
  padding-left:100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black !important;
  background-color: var(--orange);
  font-size: 32px;
  line-height: 1;
  
}

.navbar-brand:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.nav-item {
  margin: 0 15px;
  color: white !important;
}

.nav-item:hover {
  color: var(--orange) !important;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}


/* hero section styles  */
.jumbotron {
  background-image: url("../images/linges-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.custom-jumbo {
  width: 70%;
  min-width: 320px;
  max-width: 700px;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  padding: 25px 20px;
  margin: 0 auto;
}

.custom-jumbo h1 {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

/* main page section styles */


.work {
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-header {
  color: white;
  padding-bottom: 10px;
}

.card-container {
  margin-bottom: 12px;
}

.card-img-top {
  width: 100% ;
  height: 40vw ;
  object-fit: cover ;
}

.card:hover {
  scale:1.02;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 7px 6px 13px -1px rgba(240, 147, 34, 0.42);
  -moz-box-shadow: 7px 6px 13px -1px rgba(240, 147, 34, 0.42);
  box-shadow: 7px 6px 13px -1px rgba(240, 147, 34, 0.42);
    
}
/* about-contact section styles  */

.about-contact {
  width: 100%;
  min-height: min-content;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.contact-text {
  
  -webkit-box-shadow: 10px 2px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 2px 11px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 2px 11px 1px rgba(0, 0, 0, 0.75);
  border-left: 5px solid orange;
}

.contact-text:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.contact>h2 {
  text-align: start;  
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.contact-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;  
}

.contact-links a:hover {
  color: orange;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

/* footer styles  */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 100%;
  min-height: 100px;
}

.footer span {
  color: var(--orange);
}