/* CSS custom properties  */
:root {
  --cyan: rgba(255, 166, 0, 0.792);
  --backgr: rgba(0, 0, 0, 0.821);

}
/* notes  */
/* colors: cyan and rgba(0,0,0,0.821) ;  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Jura', sans-serif;
}

/* navigation styles */
.custom-navbar {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png") !important ;
  /* background-color: transparent  ; */
  background-size: cover;
  z-index: 10;
}

.navbar-brand {
  padding-right: 15px;
  padding-left:100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black !important;
  background-color: var(--cyan);
  font-size: 32px;
  line-height: 1;
  
}

.navbar-brand:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.nav-item {
  margin: 0 15px;
  color: white !important;
}

.nav-item:hover {
  color: var(--cyan) !important;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}


/* hero section styles  */
.jumbotron {
  background-image: url("../images/linges-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.custom-jumbo {
  width: 70%;
  min-width:500px;
  max-width: 700px;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.9;
  padding: 25px 20px;
}

.custom-jumbo h1 {
  color: var(--cyan);
  border-bottom: 2px solid var(--cyan);
}

/* main page section styles */
.page-wrapper {
  background-color: var(--backgr);
  padding-top:32px;
}

/* footer styles  */
footer {
  
}